@import url('https: //fonts.googleapis.com/css?family=Poppins'); 

* {
  font-family: Poppins, 'Courier New', monospace;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
